h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {
    background-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 400px;
    margin-right: 400px;
}

.paragraph {
    margin-left: 500px;
    margin-right: 500px;
    text-align: justify;    
}

.paragraph img {
    float: left;
}

.paragraph p {
    font-size: x-large;
}
